@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */

:root {
    --color: #333;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    padding: 10px 0;
    position: fixed;
    top: 0;
    height: 150px;
    width: 100%;
}

.logo img {
    height: 9rem;
}

nav ul.nav {
    list-style: none;
}

nav ul.nav li.nav-item {
    font-size: 18px;
}

nav ul.nav li.nav-item a.nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul.nav li.nav-item a.nav-link:hover {
    color: #f94829;
}

/* Parabox */

.para-container {
    font-family: 'Red Hat Text', sans-serif;
    text-align: center;
    color: var(--color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/1st-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}

#call-box {
    position: relative;
}

#call-box h1 {
    position: absolute;
    top: 302px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
}

.parabox {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 9px;
    width: 391px;
    padding: 12px;
    text-align: center;
    margin-left: auto;
    justify-content: center;
    align-self: flex-end;
    margin-right: 3%;
}

h1 {
    font-weight: 700;
    font-size: 2.4rem;
}

.parabox p {
    max-width: 52ch;
    line-height: 1.5;
    margin: 5px 0 15px 0;
}

.parabox a {
    display: inline-block;
    padding: 1em 3.5em;
    background-color: var(--color);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.3em;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: .875rem;
}

/* Highlight Container */

.highlight {
    width: 100%;
    min-height: 60vh;
    background-color: var(--color);
}

.hero-banner {
    align-items: center;
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: center;
    z-index: -1;
    background-color: var(--color);
}

.hero-banner__title {
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
}

.hero-banner__stroked-title {
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white;
}

.hero-banner__image {
    border-radius: 20px;
    transform: rotate(-15deg);
    width: 450px;
}

.content {
    background-color: #eaeaea;
    font-size: 40px;
    padding: 120px 80px;
    height: 100vh;
}

/* Second section */

h3 {
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 1em;
}

.cards>a {
    margin-bottom: 2em;
}

.item {
    width: 300px;
    display: flex;
    max-width: 320px;
    background-color: white;
    padding-bottom: 1.2em;
    flex-direction: column;
    align-items: center;
    border-radius: .5em;
    -webkit-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
}

.img {
    width: 90%;
    height: 200px;
    background-color: lightgrey;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    border-radius: .3em;
    ;
}

.img-first {
    background-image: url(../images/img-meeting-1.jpg);
}

.img-second {
    background-image: url(../images/img-meeting-2.jpg);
}

.img-third {
    background-image: url(../images/img-meeting-3.jpg);
}

.img-fourth {
    background-image: url(../images/img-meeting-4.jpg);
}

.second {
    background-image: url(../images/2nd-bg.jpg);
    background-attachment: fixed;
    height: 1200px;
    flex-direction: row;
    gap: 1.6em;
}


/* Footer */

footer {
    bottom: 0;
    width: 100%;
    height: 300px;
    background: var(--color);
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #f94829;
}

.form-control {
    background: #212529;
    border-color: #545454;
}

.form-control:focus {
    background: #212529;
}

/* Hamburger menu styles */

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul.nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul.nav li.nav-item {
    font-size: 18px;
    margin-bottom: 10px;
}

nav ul.nav li.nav-item a.nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul.nav li.nav-item a.nav-link:hover {
    color: #f94829;
}

nav ul.nav .close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

nav ul.nav.show .close-btn {
    display: block;
}

nav ul.nav .close-btn span {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

/* Hamburger icon */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

/* Registration form */
.reg-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    margin-top: 210px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reg-containerh1 {
    text-align: center;
    color: #333;
}

.reg-container form {
    display: flex;
    flex-direction: column;
}

.reg-container label {
    margin-top: 10px;
    font-weight: bold;
}

.reg-container input,
select {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.reg-container button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.reg-container button:hover {
    background-color: #45a049;
}

/* REGISTRATION TABLE */
#subscribers {
    margin: 50px;
}

.db-table {
    margin: 20px;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

thead {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.db-title {
    text-align: center;
}

.user-note {
    font-size: 12px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

/* Login page styles */

.login-container {
    font-family: 'Red Hat Text', sans-serif;
    text-align: center;
    color: var(--color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.login-container h1 {
    color: darkslategrey;
}

.login-container form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container label {
    margin-top: 10px;
    font-weight: bold;
    display: block;
}

.login-container input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

.login-container button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.login-container button:hover {
    background-color: #45a049;
}

/* Contact form styles */

.contact-container {
    font-family: 'Red Hat Text', sans-serif;
    text-align: center;
    color: var(--color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.contact-container h1 {
    color: darkslategrey;
    padding-top: 12rem;
    padding-bottom: 2rem;
}

.contact-container form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-container label {
    margin-top: 10px;
    font-weight: bold;
    display: block;
}

.contact-container input,
.contact-container textarea {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

.contact-container button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.contact-container button:hover {
    background-color: #45a049;
}

#about {
    text-align: justify;
}

.about-list {
    list-style-type: none;
}

/* Media query for small screens */

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }

    .parabox {
        border-radius: 9px;
        width: 338px;
    }

    .parabox a {
        padding: 0.5em 0.5em;
    }

    .hero-banner__image {
        width: 310px;
    }

    .hero-banner__title {
        font-size: 62px;
    }

    #call-box {
        flex-direction: column;
        padding-top: 70px;
    }

    .img {
        width: 88%;
        height: 123px;
    }

    #call-box h1 {
        top: 19px;
        border-radius: 6px;
        padding: 9px;
    }

    .item {
        width: 216px;
        max-width: 320px;
        padding-bottom: 0.3rem;
        flex-direction: column;
    }

    h3 {
        font-weight: 700;
        font-size: 1rem;
        margin-top: 0.3em;
    }

    p {
        margin-top: 0;
        margin-bottom: 0.3rem;
    }

    .db-title {
        text-align: center;
        margin-top: 20px;

        h1 {
            font-size: 1.8rem;
        }
    }
}

@media only screen and (max-width:799px) {
    nav ul.nav {
        display: none;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #333;
    }

    nav ul.nav.show {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul.nav li.nav-item {
        margin: 0;
    }

    .hamburger {
        display: flex;
    }
}

@media only screen and (max-width: 767px) and (min-width: 400px) {

    header {
        position: relative;
    }

    .parabox {
        margin-left: auto;
        margin-right: auto;
        align-self: normal;
    }

    .hero-banner__stroked-title {
        -webkit-text-stroke: 1px white;
    }

    .hero-banner__title {
        font-size: 64px;
    }

    .hero-banner__image {
        width: 200px;
    }

    .hero-banner {
        height: 300px;
    }

    .second {
        height: auto;
        flex-direction: column;
        gap: 0;
    }

    .item {
        margin: 1.5rem 0;
    }

    footer {
        height: 200px;
    }

    footer .container {
        height: auto;
        margin: auto;
        text-align: center;
    }

    .pb-4,
    .py-4 {
        padding-bottom: 1.5rem;
    }

    .pt-4,
    .py-4 {
        padding-top: 1.5rem;
    }

    .h1 {
        font-size: 1.5rem;
    }

    #quick-links,
    #social-medias,
    #newsletter {
        display: none;
    }

    .reg-container {
        margin-top: 45px;
    }

    .contact-container {
        min-height: 0;
    }

    .contact-container h1 {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
}

@media screen and (min-width: 728px) {

    nav ul.nav {
        flex-direction: initial;
    }
}

@media only screen and (max-width: 399px) {
    .about-title {
        margin-top: 150px;
    }

    .about-sub-title {
        margin: 20px 0;
    }
}

@media only screen and (min-width: 768px) {
    .about-title {
        margin-top: 155px;
    }

    .about-sub-title {
        margin: 20px 0;
    }

    .h1,
    h1 {
        font-size: 1.5rem;
    }

    footer {
        height: 286px;
    }

    .col-md-6 {
        height: 135px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .pb-4,
    .py-4 {
        padding-bottom: 0.5rem !important;
    }

    .pt-4,
    .py-4 {
        padding-top: 0.5rem !important;
    }

    #social-medias,
    #newsletter .small.text-muted {
        display: none;
    }

    .mb-3,
    .my-3 {
        margin-bottom: 0.5rem !important;
        ;
    }

    .contact-container h1 {
        padding-top: 0rem;
        padding-bottom: 3rem;
    }
}