@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */

:root {
    --color: #333;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    padding: 10px 0;
    position: fixed;
    top: 0;
    height: 150px;
    width: 100%;
}

.logo img {
    height: 9rem;
}

nav ul.nav {
    list-style: none;
}

nav ul.nav li.nav-item {
    font-size: 18px;
}

nav ul.nav li.nav-item a.nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul.nav li.nav-item a.nav-link:hover {
    color: #d4d4d4;
}

/* Parabox */

.para-container {
    font-family: 'Red Hat Text', sans-serif;
    text-align: center;
    color: var(--color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/assets/images/1st-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: flex-end;
    justify-content: center;
}

.parabox {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 9px;
    width: 391px;
    padding: 12px;
    text-align: center;
    margin-left: auto;
    justify-content: center;
    align-self: flex-end;
    margin-right: 3%;
}

h1 {
    font-weight: 700;
    font-size: 2.4rem;
}

.parabox p {
    max-width: 52ch;
    line-height: 1.5;
    margin: 5px 0 15px 0;
}

.parabox a {
    display: inline-block;
    padding: 1em 3.5em;
    background-color: var(--color);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.3em;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: .875rem;
}

/* Highlight Container */

.highlight {
    width: 100%;
    min-height: 60vh;
    background-color: var(--color);
}

.hero-banner {
    align-items: center;
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: center;
    z-index: -1;
    background-color: var(--color);
}

.hero-banner__title {
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
}

.hero-banner__stroked-title {
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white;
}

.hero-banner__image {
    border-radius: 20px;
    position: fixed;
    transform: rotate(-15deg);
    width: 450px;
}

.content {
    background-color: #eaeaea;
    font-size: 40px;
    padding: 120px 80px;
    height: 100vh;
}

/* Second section */

h3 {
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 1em;
}

.card>a {
    margin-bottom: 2em;
}

.item {
    display: flex;
    max-width: 320px;
    background-color: white;
    ;
    flex-direction: column;
    align-items: center;
    border-radius: .5em;
    -webkit-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
}

.img {
    width: 90%;
    height: 200px;
    background-color: lightgrey;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    border-radius: .3em;
    ;
}

.img-first {
    background-image: url(X);
}

.img-second {
    background-image: url(X);
}

.img-third {
    background-image: url(X);
}

.second {
    background-image: url(/assets/images/2nd-bg.jpg);
    background-attachment: fixed;
    height: 1200px;
    flex-direction: row;
    gap: 1.6em;
}