@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */

:root {
    --color: #333;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    padding: 10px 0;
    position: fixed;
    top: 0;
    height: 150px;
    width: 100%;
}

.logo img {
    height: 9rem;
}

nav ul.nav {
    list-style: none;
}

nav ul.nav li.nav-item {
    font-size: 18px;
}

nav ul.nav li.nav-item a.nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul.nav li.nav-item a.nav-link:hover {
    color: #d4d4d4;
}

/* PARABOX */

.para-container {
    text-align: center;
    color: var(--color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/images/1st-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parabox {
    background: rgba(79, 79, 79, 0.3);

}