<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speedy Motorcycle Club</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <script>
        function toggleMenu() {
            const nav = document.querySelector('nav ul.nav');
            nav.classList.toggle('show');
        }
    </script>

</head>

<body>

    <header class="bg-dark text-white">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo">
                <a href="{{url_for('index')}}"><img src="{{ url_for('static', filename='images/logo.png')}}" alt="Speedy Motorcycle Club logo"></a>
            </div>
            <nav>
                <div class="hamburger" onclick="toggleMenu()">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('index')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('about')}}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('register')}}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    <li class="nav-item close-btn" onclick="toggleMenu()">
                        <span>&times;</span>
                    </li>
                </ul>
            </nav>

    </header>

    {% block content %}
    {% endblock %}

    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <h5 class="h1 text-white">Speedy Motorcycle Club</h5>
                    <p class="small text-muted">Sometimes it takes a whole tank of fuel before you can think straight
                    </p>
                    <p class="small text-muted mb-0">Copyrights &copy; <span id="copyright"></span>. All rights reserved
                        <a class="text-danger" href="#">speedy-motorcycleclub.com</a></p>
                </div>
                <div id="quick-links" class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Quick links</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="{{url_for('index')}}">Home</a></li>
                        <li><a href="{{url_for('about')}}">About us</a></li>
                        <li><a href="{{url_for('register')}}">Register</a></li>
                        <li><a href="{{url_for('contact')}}">Contact</a></li>
                        <li><a href="{{url_for('login')}}">Login</a></li>
                        <li><a href="{{url_for('logout')}}">Logout</a></li>
                    </ul>
                </div>
                <div id="social-medias" class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Follow us</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Pinterest</a></li>
                    </ul>
                </div>
                <div id="newsletter" class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-3">Newsletter</h5>
                    <p class="small text-muted">We can't believe that you will miss all our information. C'mon! Go ahead
                        and subscribe to receive our newsletter.</p>
                    <form action="#">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Rider email" aria-label="Rider email"
                                aria-describedby="button-addon2">
                            <button class="btn btn-danger" id="button-addon2" type="button"><i
                                    class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>

    <script>
        $("#copyright").text(new Date().getFullYear());
    </script>
</body>
</html>