{% extends "base.html" %}
{% block content %}

<section>
    <div class="para-container">
        <div class="parabox">
            <h1>Here is where you can find the joy</h1>
            <p>Discovering the pure joy of riding on two wheels: Your ultimate motorcycle destination</p>
            <a href="#">Subscribe for our next event</a>
        </div>
    </div>
</section>

<div class="hero-banner">
    <div class="hero-banner__title" aria-hidden="true">Are you ready?</div>
    <img class="hero-banner__image" src="../assets/images/motorbike.jpg" />
    <h1 class="hero-banner__title hero-banner__stroked-title">Are you ready?</h1>
</div>

<section>
    <div class="para-container second">
        <div class="item">
            <div class="img img-first"></div>
            <div class="cards">
                <h3>Cork</h3>
                <p>Ireland</p>
                <a href="#">Check more about</a>
            </div>
        </div>
        <div class="item">
            <div class="img img-second"></div>
            <div class="cards">
                <h3>Dublin</h3>
                <p>Ireland</p>
                <a href="#">Check more about</a>
            </div>
        </div>
        <div class="item">
            <div class="img img-third"></div>
            <div class="cards">
                <h3>London</h3>
                <p>United Kingdom</p>
                <a href="#">Check more about</a>
            </div>
        </div>
        <div class="item">
            <div class="img img-fourth"></div>
            <div class="cards">
                <h3>São Paulo</h3>
                <p>Brazil</p>
                <a href="#">Check more about</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}