{% extends "base.html" %}
{% block content %}

<div class="reg-container">
    <h1>Event Registration</h1>
    <form action="{{ url_for('register') }}" method="post">
        <label for="name">Rider name:</label>
        <input type="text" id="name" name="name" placeholder="Rider name" required>

        <label for="guest_name">Guest name (if applicable):</label>
        <input type="text" id="guest_name" name="guest_name" placeholder="Guest name if you have anyone">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Your email" required>

        <label for="event">Event:</label>
        <select id="event" name="event" required>
            <option value="Cork">Cork</option>
            <option value="São Paulo">São Paulo</option>
            <option value="Paris">Paris</option>
        </select>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Your password" required>

        <button type="submit">Register</button>
    </form>
</div>

{% endblock %}